.button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  background-color: transparent;
  border: none;
}

/* Variants */
.primary {
  color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.primary:hover:not(.disabled) {
    opacity: 0.5;
}

.secondary:hover:not(.disabled) {
    opacity: 0.5;
}

.primary:active:not(.disabled) {
    color: background;
    opacity: 0.7;
}

.secondary:active:not(.disabled) {
    color: foreground;
    opacity: 0.;
}

/* Sizes */
.small {
  font-size: 1rem;
  font-weight: 400;
  gap: 0.3rem;
}

.medium {
  font-size: 1.5rem;
  font-weight: 600;
  gap: 0.4rem;
}

.large {
  font-size: 2rem;
  font-weight: 800;
  gap: 0.5rem;
}

/* States */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* Icon and Text */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: inherit;
  white-space: nowrap;
}

