.logo {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  flex: 1 0 0;
  align-self: normal;
  color: var(--foreground);
  font-size: var(--font-size-2xl);

}

.logoText1 {
  font-weight: 800;
}

.logoText2 {
  font-weight: 200;
}