/* Size variants */
.small {
  font-size: 1.5rem !important;
  font-weight: 300;
}

.medium {
  font-size: 1.75rem !important;
  font-weight: 400;
}

.large {
  font-size: 2.5rem !important;
  font-weight: 500;
}